<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg">

    <head>
        
        <meta charset="utf-8" />
        <title>Changement Password | <Model></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Web Application" name="description" />
        <meta content="CHALOULI" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico">
        <link href="/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

        <!-- Layout config Js -->
        <script src="/assets/js/layout.js"></script>
        <link href="/assets/css/fonts.css" rel="stylesheet" type="text/css" />
        <!-- Bootstrap Css -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <!-- custom Css-->
        <link href="/assets/css/custom.min.css" rel="stylesheet" type="text/css" />


    </head>

    <body>

        <!-- auth-page wrapper -->
        <div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">
            <div class="bg-overlay p-3 text-white-75 text-center h5 kufiBold"> الجمهورية الجزائرية الديمقراطية الشعبية </div>
            <!-- auth-page content -->
            <div class="auth-page-content overflow-hidden pt-lg-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card overflow-hidden">
                                <div class="row justify-content-center g-0">
                                    <div class="col-lg-6">
                                        <div class="p-lg-5 p-4 auth-one-bg h-100">
                                            <div class="bg-overlay"></div>
                                            <div class="position-relative h-100 d-flex flex-column">
                                                <div class="mt-auto">
                                                    <div class="mb-3">
                                                        <i class="ri-double-quotes-l display-4 text-success"></i>
                                                    </div>

                                                    <div id="qoutescarouselIndicators" class="carousel slide" data-bs-ride="carousel">
                                                      <div class="carousel-indicators">
                                                          <button type="button" data-bs-target="#qoutescarouselIndicators" data-bs-slide-to="0" class="active"
                                                              aria-current="true" aria-label="Slide 1"></button>
                                                          <button type="button" data-bs-target="#qoutescarouselIndicators" data-bs-slide-to="1"
                                                              aria-label="Slide 2"></button>
                                                      </div>
                                                      <div class="carousel-inner text-center text-white-50 pb-5">
                                                          <div class="carousel-item active">
                                                              <p class="fs-13 fst-italic text-white-75 fw-bold"> <strong class="fw-bolder">ANPDP :</strong> AUTORITÉ NATIONALE DE PROTECTION DES DONNÉES À CARACTÈRE PERSONNEL!</p>
                                                          </div>
                                                          <div class="carousel-item">
                                                              <p class="fs-13 fst-italic  text-white-75 text-dark fw-bold"><strong class="fw-bolder"><Model> :</strong>  Guichet de Gestion des Dossiers</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                                    <!-- end carousel -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>  <!-- end col -->

                                    <div class="col-lg-6">
                                        <div class="p-lg-5 p-4">
                                            <h4 class="text-primary">Changement de mot de passe</h4>
                                            <p class="text-muted">Prière de changer votre mot de passe</p>

                                            <div class="mt-2 text-center">
                                              <i class="ri-shield-keyhole-fill text-success ri-4x"></i>
                                            </div>
        
                                            <div class="alert alert-borderless alert-info text-left mb-2 mx-2" role="alert">
                                                <li>Mot de passe doit avoir au moins 08 caractères</li>
                                                <li>Combinaison de lettres majuscules, minuscules, chiffres et symboles</li>
                                            </div>
                                            <div class="p-2">
                                                <form id="theForm"  action="/api/Reset/" method="post" class="needs-validation" novalidate>
                                                  {% csrf_token %}
                                                  <input id="user" name="user" value="{{user}}" type="hidden">
                                                  <div class="mb-3">
                                                    <label class="form-label text-dark" for="newPassword" >Nouveau mot de passe</label>
                                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                                        <input type="password" class="form-control pe-5" placeholder="Nouveau mot de passe" name="newPassword" id="newPassword" required>
                                                        <div class="invalid-feedback">Nouveau Mot de passe obligatoire!</div>
                                                        <!-- <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button> -->
                                                        <span class="position-absolute end-0 top-0 pt-0 px-2 " id="newDisplay" ></span>
                                                    </div>
                                                  </div>
                                                  <div class="mb-3">
                                                    <label class="form-label text-dark" for="confPassword" >Confirmer le mot de passe</label>
                                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                                        <input type="password" class="form-control pe-5" placeholder="Confirmation du mot de passe" name="confPassword" id="confPassword" required>
                                                        <div class="invalid-feedback">Confirmation du mot de passe obligatoire!</div>
                                                        <span class="position-absolute end-0 top-0 pt-0 px-2 " id="confDisplay" ></span>
                                                    </div>
                                                  </div>
                                                    
                                                    <div class="text-center mt-4">
                                                        <button class="btn btn-success w-100 fw-bold fs-6" type="button"  onclick="PasswordValidator()" > Confirmer</button>
                                                    </div>
                                                </form><!-- end form -->
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <!-- end col -->
                                </div>
                                <!-- end row -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
    
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
            <!-- end auth page content -->

            <!-- footer -->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                              <p class="h5 text-white-75 text-shadow kufi pb-1"><script>document.write(new Date().getFullYear())</script> © السلطة الوطنية لحماية المعطيات ذات الطابع الشخصي </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->
        </div>
        <!-- end auth-page-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="/assets/libs/node-waves/waves.min.js"></script>
        <script src="/assets/libs/feather-icons/feather.min.js"></script>
        <script src="/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
        <script src="/assets/js/plugins.js"></script>
        <script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
        <script src="/assets/js/pages/form-validation.init.js"></script>

    </body>
<script>
  var GoodNew    = false;
  var GoodConf   = false;

  let newDisp        = document.getElementById("newDisplay");
  let confDisp       = document.getElementById("confDisplay");
  let passwordJS     = document.getElementById('newPassword');
  let confirmationJS = document.getElementById('confPassword');

  function StrengthChecker(PasswordParameter,PasswordConfirmation,strengthBadge) {
    //console.log(PasswordParameter);
    let strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})')
    let mediumPassword = new RegExp('((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,}))|((?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])(?=.{8,}))')
    if(strongPassword.test(PasswordParameter)) {
        strengthBadge.innerHTML = '<i class="ri-shield-keyhole-line text-success ri-2x align-middle"></i> <strong class="text-success"> Fort </strong>';
        GoodNew=true;
    } else if(mediumPassword.test(PasswordParameter)) {
        strengthBadge.innerHTML = '<i class="ri-error-warning-line text-warning ri-2x align-middle"></i> <strong class="text-warning"> Moyen </strong> ';
        GoodNew=false;
    } else {
        strengthBadge.innerHTML = '<i class="ri-error-warning-fill text-danger ri-2x align-middle"></i> <strong class="text-danger"> Faible </strong> ';
        GoodNew=false;
    }
    //Check confirmation
    if(PasswordParameter.localeCompare(PasswordConfirmation)==0) {
      confDisp.innerHTML = '<i class="ri-check-double-line text-success ri-2x align-middle"></i>';
      GoodConf=true;
    }else{
      confDisp.innerHTML = '<i class="ri-error-warning-line text-danger ri-2x align-middle"></i>';
      GoodConf=false;
    }
  }
  
  passwordJS.addEventListener("input", () => {
    let timeout;
    let NewPassword=  passwordJS.value;
    let ConfPassword=  confirmationJS.value;
    clearTimeout(timeout);
    if(NewPassword.length == 0) {
      newDisp.innerHTML = '<i class="ri-error-warning-line text-danger ri-2x align-middle"></i>';
    }else{
      timeout = setTimeout(() => StrengthChecker(NewPassword,ConfPassword,newDisp), 300);
    }
  });
  
  confirmationJS.addEventListener("input", () => {
    let NewPassword  =  passwordJS.value;
    let ConfPassword =  confirmationJS.value;
    if(NewPassword.localeCompare(ConfPassword) == 0) {
      confDisp.innerHTML = '<i class="ri-check-double-line text-success ri-2x align-middle"></i>';
      GoodConf=true;
    }else{
      confDisp.innerHTML = '<i class="ri-error-warning-line text-danger ri-2x align-middle"></i>';
      GoodConf=false;
    }
  });
 

  function PasswordValidator(){
    let NewPass=  passwordJS.value;
    let codeEquipe='{{username}}';
    let jsonObj = {password : NewPass };
    if (GoodNew && GoodConf){
      document.getElementById('theForm').submit();
    /*
      $.ajax({
        type: "POST",
        data: jsonObj,
        async: true,
        scriptCharset: "utf-8",
        dataType: "JSON",
        url: "/api/Reset/",
        headers:{"X-CSRFToken": "{{ csrf_token }}"},
        success: function (result) {
            
            Swal.fire({
                icon:  'success',
                title: "Modification de mot de passe",
                showConfirmButton: false,
                timer: 1300
            })
            window.location.replace("logout");
        },  
        error: function (xhr, status, error) {
            Swal.fire({
                icon: 'error',
                title: error,
                text: xhr.responseText,
                showConfirmButton: true,
                // timer: 1000
            })
        }
      });
    */
    }else{
      confDisp.innerHTML = '<i class="ri-error-warning-line text-danger ri-2x align-middle"></i>';
      newDisp.innerHTML  = '<i class="ri-error-warning-line text-danger ri-2x align-middle"></i>';
    }
    
    
    
  }

</script>
</html>